@charset "UFT-8";

/*TABLET*/
@media screen and (min-width: 768px) {
    #banner-pc {
        width: 100vw;
    }

    .main-artigos {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    #titulo {
        width: 90vw;
    }

    h2 {
        font-size: 1.5em;
    }

    .artigos {
        height: 550px;
    }

    .artigos a {
        font-size: 1em;
    }

    #descricao {
        font-size: .8em;
    }

    #preço {
        font-size: 1.5em;
    }
}

/*COMPUTADOR*/
@media screen and (min-width: 992px) {
    #banner-pc {
        width: 100vw;
    }
}

/*TELAS GRANDES*/
@media screen and (min-width: 1200px) {
    .main {
        width: 100vw;
    }
    
    #banner-pc {
       max-width: 1580px;
    }

}
