@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    --corvastoimperio: #0072BB;
    --corvastologo: #FF6000;
    --corfundocinzento: #F6F6F6;
    --corfundobranco: #FBFBFB;
    --sombreado: 0px 0px 5px #c2c2c23e;
}

.material-symbols-outlined {
    color: #0072bb;
}

a {
    color: black;
    text-decoration: none;
}

#traco {
    font-size: 1.4em;
    font-weight: 900;
    color: var(--corvastologo);
}

.main {
    max-width: 1580px;
    margin: auto;
    background-color: var(--corfundocinzento);
    display: flex;
    flex-flow: column nowrap;
}

#banner-mobile {
    width: 100vw;
    height: auto;
    display: block;
    cursor: pointer;
}

#banner-pc {
    width: 100vw;
    height: auto;
    display: block;
    cursor: pointer;
}

.classes {
    padding: 25px;
    background-color: var(--corfundobranco);
    margin-top: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    box-shadow: var(--sombreado);
}

.classes a {
    color: black;
    text-decoration: none;
    text-align: center;
    align-self: flex-start;
    display: flex;
    flex-flow: column wrap;
    justify-content: center; 
    align-items: center;  
    line-height: 2em;
    display: inline-block;
    padding: 0px 8px;
    font-size: .9em;
    height: 120px;
}

.selecao-artigos {
    width: 80px;
    height: 80px;
    display: block;
    border-radius: 50px;
    border: 2px solid rgb(214, 214, 214);
    padding: 5px;
}

.selecao-artigos:hover {
    border: 2px solid var(--corvastologo);
    transition: .5s;
    box-shadow: 0px 0px 7px var(--corvastologo);
    width: 85px;
    height: 85px;
    margin: 0px -2.5px;
}

a:hover {
    color: var(--corvastologo);
    transition: .1s;
}

.main-artigos {
    padding: 25px;
    background-color: var(--corfundobranco);
    margin-top: 20px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    box-shadow: var(--sombreado);
}

#titulo {
    display: flex;
    justify-content: space-between;
    height: 40px;
}

h2 {
    font-weight: 500;
    font-size: 1.3em;
    align-self: flex-start;
    display: inline-block;
}

#titulo a {
    background-color: var(--corfundocinzento);
    border: 1px solid black;
    padding: 7px;
    align-self: center;
    border-radius: 5px;
    font-weight: bold;
    color: black;
    font-size: .9em;
    transition: .1s;
}

#titulo a:hover {
    color: var(--corvastologo);
    border: 1px solid var(--corvastologo);
    cursor: pointer;
}

.artigos {
    display: flex;
    align-self: center;
    justify-content: center;
    margin: auto;
    margin-left: 5px;
    margin-right: 5px;
    flex-flow: row wrap;
    margin-top: 20px;
    background-color: #ffffff;
    width: 300px;
    flex: 1 2 300px;
    padding: 10px 5px;
    border-radius: 5px;
    box-shadow: var(--sombreado);
    height: 500px;
    max-width: 350px;
}

.artigos a {
    font-size: .9em;
    text-align: left;
    font-weight: 600;
    width: 100vw;
    padding: 0px;
}

#img-novidades {
    width: 300px;
    display: block;
    margin: auto;
    cursor: pointer;
}

#img-novidades:hover {
    margin-bottom: 3px;
    width: 297px;
}

#descricao {
    font-size: .7em;
    color: #cbcbcb;
}

#referencia {
    width: 100vw;
    text-align: left;
    font-size: .8em;
    margin-top: 10px;
}

#stock {
    margin-top: 5px;
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    color: rgb(0, 171, 0);
    align-self: center;
    font-size: .9em;
}

#icon-stock {
    color: #00ab00;
    font-size: 1.2em;
    font-weight: bold;
    display: inline-block;
    margin-left: 0px;
    align-self: center;
    justify-content: center;
}

#preço {
    color: var(--corvastologo);
    font-weight: bold;
    font-size: 1.2em;
    width: 100vw;
    margin-top: 5px;
}

#favoritos{
    color: black;
    font-size: .8em;
    display: flex;
    width: 100vw;  
    margin-top: 10px;
    align-items: center;
    cursor: pointer;
}

#icon-favoritos {
    font-weight: bolder;
    align-items: center;
    margin-left: 0px;
}

#favoritos:hover, #icon-favoritos:hover {
    color: var(--corvastologo);
}
